<h1>Swords of Thule</h1>

<div *ngFor="let bg of bgs">{{bg.name}} - {{bg.type}}</div>

<h4>Heroes:</h4>
<div *ngFor="let hero of heroes" [ngClass]="{ 'red':checkedHero==hero}"> {{hero.name}} - {{hero.race}} - {{hero.type}} - Attack:{{hero.attack}} - Defence:{{hero.defence}} - Level:{{hero.level}} {{hero.xp}} XP - HP:{{hero.hitPoints}} - Shards:{{hero.goldShards}}- <input type="checkbox" [id]="hero.id" [name]="hero.name" [value]="hero" [checked]="checkedHero==hero" (change)="checkHero($event, hero)"></div>
<button (click)="selectHero()">Scegli</button>

<h4>Monsters:</h4>
<div *ngFor="let monster of leveledMonsters">{{monster.name}} - Attack:{{monster.attack}} - Defence:{{monster.defence}} - {{monster.type}}</div>

<div *ngIf="selectedMonster">
<h4>Monster to fight:</h4>
<div> {{selectedMonster.name}} - Attack:{{selectedMonster.attack}} - Defence:{{selectedMonster.defence}} - {{selectedMonster.type}}</div>
</div>

<button (click)="combat()"> Fight! </button>
<div *ngIf="isCombat">
<p>{{selectedHero?.name}} - {{selectedHero?.hitPoints}} hp</p>
<p>{{selectedMonster?.name}} - {{selectedMonster?.hitPoints}} hp</p>
<p>{{combatExit}}</p>
</div>
