<h1>Swords of Thule</h1>

<div *ngFor="let bg of bgs">{{bg.name}} - {{bg.type}}</div>

<h4>Heroes:</h4>
<div *ngFor="let hero of heroes" [ngClass]="{ 'red':checkedHero==hero}"> {{hero.name}} - {{hero.race}} - {{hero.type}} - Attack:{{hero.attack}} - Defence:{{hero.defence}} - [Items Equipped: <span *ngFor="let item of hero.itemList">{{item.name}} - Att:{{item.attack}} - Def: {{item.defence}}</span>] - Level:{{hero.level}} {{hero.xp}} XP - HP:{{hero.hitPoints}} - perkPoints: {{hero.perkPoints}} - User: {{hero.user.userName}} - {{hero.user.goldShards}} GS- <input type="checkbox" [id]="hero.id" [name]="hero.name" [value]="hero" [checked]="checkedHero==hero" (change)="checkHero($event, hero)"></div>
<button (click)="selectHero()">Scegli</button>

<div *ngIf="partyArray.length">
<h4>Party</h4>
<div *ngFor="let hero of partyArray"> {{hero.name}}</div>
</div>

<h4>Monsters:</h4>
<div *ngFor="let monster of leveledMonsters">{{monster.name}} - Attack:{{monster.attack}} - Defence:{{monster.defence}} - HP: {{monster.hitPoints}} - {{monster.type}}</div>

<div *ngIf="selectedMonster">
<h4>Monster to fight:</h4>
<div> {{selectedMonster.name}} - Attack:{{selectedMonster.attack}} - Defence:{{selectedMonster.defence}} - {{selectedMonster.type}}</div>
</div>

<button (click)="combat()"> Fight! </button>
<div *ngIf="isCombat">
<p>{{selectedHero?.name}} - {{selectedHero?.hitPoints}} hp</p>
<p>{{selectedMonster?.name}} - {{selectedMonster?.hitPoints}} hp</p>
<p>{{combatExit}}</p>
</div>

<h4>Items:</h4>
<div *ngFor="let item of items"> {{item.name}} - attack: {{item.attack}} - defence: {{item.defence}} -{{item.price}} GS <button (click)="buy(item)">Compra</button></div>
